* {
  box-sizing: border-box;

}



img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 85%;
  text-align: center;
}

a.navlink {
  color: white;
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

#navlink-home {
  background-color: #00A5BF;
}

#navlink-calendar {
  background-color: #00B7D3;
}

#navlink-join {
  background-color: #00D5E7;
}
#corner-logo {
  height: 100%;
  width: 100%;
  padding: 1em;
}

.film-club-corner {
  background-color: #F5005B;
}

.in-blue {
  background-color: #0B1942;
  color: white;
  text-indent: .5em;
  text-decoration: none;
  font-weight: normal;
}

section.get-involved {
  margin-left: 1em;
  margin-right: 1em;
}

section.up-next {
  background-color: #0B1942;
  margin: 0em;
  padding: 0em;
  padding-bottom: 2em;
}

#up-next-header {
  text-decoration: none;
  font-size: 32pt;
  color: white;
  font-weight: normal;
  padding-left: 1em;
  display: flex;
  align-content: center;
  padding-top: 1em;

}

.rasho-box{
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 1em;
}

ul {
  padding-left: 1em;
}

hr {
  margin-right: 1em;
}

#rashomon-poster {
  flex-basis: 40%;
  padding-left: 1em;
  padding-right: 1em;
  padding: 1em;
  height: 300px;
  flex-shrink: 1;
}

.rasho-right {
  flex-basis: 60%;
}

.rasho-link {
  margin-bottom: 0;
}

rasho-right  {
  margin-top: 0em;
  flex-shrink: 1;
}

.film-date-rasho {
  margin-top: .25em;
}

li {
  padding-top: .5em;
  padding-bottom: .5em;
  max-width: 100%;
}

#movie-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.first-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.second-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


.movie-poster-quarter {
  padding: .5em;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
}

a.navlink_home_small {
  color: white;
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

.up-next a {
  color: #00B7D3;
  text-decoration: underline;
  padding-top: .5em;
}

.up-next p {
  margin: .5em;
  display: flex;
  margin-left: 0;
}

#small_bottom_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#small_bottom_footer a {
  flex-basis: 30%;
  height: 8vh;
}

#nav-copyright  {
  background-color: cyan;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  flex-basis: 50%;
}

#june {
  background-color: #0B1942;
  color: white;
}

#calendar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2em;
}
.day {
  background-color: white;
  border: 1px solid #0B1942;
  display: flex;
  width: 100%;
  height: 4em;
}

.dayblue {
  background-color: #0B1942;
  border: 1px solid #0B1942;
  display: flex;
  width: 100%;
}

.day_number {
  background-color: #0B1942;
  color: white;
  border: 1px solid green;
  display: flex;
  height: 50%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.calendar-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#month {
  margin-left: .5em;
  font-weight: normal;
}

#meetup {
  margin-left: .5em;
  font-weight: normal;
}

#twenty-seven {
  background-color: #F5005B;
}

#thirteen {
  background-color: #F5005B;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

input {
  padding-bottom: 1em;
}

label {
  padding-top: 1em;
  padding-bottom: .25em;
}

#profile-pic {
  border-radius: 50%;
}

fieldset {
  border-color: inherit;
  border-radius: 0em;
  border-width: 0;
}

#categoryboxes {
  display: flex;
  flex-direction: column;
}

#input-wrapper {
  display: flex;
  flex-direction: column;
}

#join-button {
  background-color: #F5005B;
  color: white;
  border-width: 0px;
  width: 25%;
  height: 5em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.profile-picture {
  display: flex;
  flex-direction: column;
}

#profile-pic {
  max-height: 50%;
  height: 30%;
}


@media screen and ( min-width: 545px ){
    #paragraph-section {
      display: flex;
      flex-direction: row;

    }

    .paragraph-block {
      padding: 1em;
      padding-top: 0;
      flex-grow: 1;
      flex-basis: 33%;
      padding-left: 0;
    }
  #firsth {
    margin-bottom: 0;
    font-size: 24pt;
  }
  #movie-box {
    display: flex;
    flex-direction: row;
  }
  nav {
    flex-direction: row;
  }
  footer {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    height: 16vh;
  }
  #small_bottom_footer {
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0em;
    flex-basis: 45%;

    display: flex;
  }
  #small_bottom_footer a {
    height: 100%;
    flex-grow: 1;
  }
  #nav-copyright {
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
  }
  #top-nav a {
    flex-grow: 1;
    flex-basis: 20%;
  }
  #top-nav {
    flex-basis: 45%;
  }
  header {
    height: 20vh;
  }
  section.up-next {
    padding-bottom: .5em;
  }
  #up-next-header {
    padding-top: .5em;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  #rashomon-poster{
    height: auto;
  }
  #filler{
    flex-basis: 50%;
    background-color: cyan;
  }
  .film-club-corner {
    flex-basis: 20%;
  }
  #corner-logo {
    padding: .5em;
  }

  .day_number {
    height: 30%;
    width: 30%;
    font-size: 8pt;
  }
  .no-medium {
    display: none;
  }

  }
@media screen and ( min-width: 769px ){
  #box-wrapper {
    display: flex;
    flex-direction: row;

  }
  header {
    height: 20vh;
  }
  .rasho-box {
    flex-basis: 50%;
    height: 50%;

  }
  #movie-box {
    flex-basis: 50%;
    flex-direction: column;
  }

  #nav-copyright{
    justify-content: flex-end;
  }

  .day_number{
    height: 20%;
    width: 20%;
    font-size: 8pt;
  }
  .no-large {
    display: none;
  }
}
